.currentDate{
    position: absolute;
    top: 25%;
    left: 10%;
    height: 5%;
    width: 25%;
    padding: 1% 0% 1% 2%;
    background-color: #c4c4c4;
    border-radius: 13px;
    text-align: left;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .currentDate{
        width: 30%;
        padding: 2% 0% 0% 1%;
        font-size: 15px;

    }
    
}